.setup_wrapper {
  display: flex;
  margin-top: 25px;
  margin-left: 10px;
}

.setup_fields {
  flex: 1;
}

.title_wrapper {
  flex: 1;
}

.title_wrapper h2 {
  margin: 0;
}

.App {
  margin-top: 25px;
  display: flex;
}

.App .ace_editor {
  flex: 1;
}

.App .output_section {
  flex: 1;
  background: #000;
  color: #fff;
  font-size: 18px;
  padding-left: 5px;
  padding-top: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  padding: 5px;
  margin-top: 15px;
  margin-left: 6px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}